@model IEnumerable<Api_Post_Eventos_Vfinal.Models.Post_Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDdeCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post.media)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post.fecha_pub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post.activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDdeCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.evento.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post.media)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post.fecha_pub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post.activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDdePost">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDdePost">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDdePost">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
