@model Api_Post_Eventos_Vfinal.Models.Post_Banda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post_Banda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDdeCuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDdeCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDdeBanda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDdeBanda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.post.media)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.post.media)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.post.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.post.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.post.fecha_pub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.post.fecha_pub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.post.activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.post.activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDdePost">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
